.banner {
  display: block;
  width: 100%;
}

.am-list-header {
  padding-left: 21px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 40px;
  overflow: auto;
}

.am-list-header .tabs-list {
  white-space: nowrap;
}

.am-list-header .tabs-list a {
  margin-right: 30px;
  font-size: 14px;
  color: #9b9b9b;
  text-decoration: none;
}

.am-list-header .tabs-list a.on {
  color: #000;
}

.courses .mint-spinner-snake {
  margin: 10px auto;
}

.courses .list-view-section-body {
  margin: 0;
  padding-left: 0;
}

.courses .list-view-section-body .course {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.courses .list-view-section-body .course .cover {
  width: 87px;
  height: 130px;
  margin: 15px 6px 5px 15px;
}

.courses .list-view-section-body .course .info {
  width: 248px;
  margin: 15px 0 13px 6px;
  font-size: 13px;
  color: #9b9b9b;
  line-height: 1;
}

.courses .list-view-section-body .course .info .name {
  margin-right: 21px;
  font-size: 18px;
  color: #2a2a2a;
  line-height: 25px;
}

.courses .list-view-section-body .course .info .time {
  margin-top: 10px;
}

.courses .list-view-section-body .course .info .address,
.courses .list-view-section-body .course .info .quota {
  margin-top: 12px;
}

.courses .list-view-section-body .course .info .period {
  position: absolute;
  right: 0;
  bottom: 13px;
  margin-top: 12px;
}

.courses .list-view-section-body .course .info .period img {
  width: 44px;
}
