* {
    -webkit-transform-origin-x: 0px;
    -webkit-transform-origin-y: 0px;
    -webkit-transform-origin-z: initial;
  }
  .icon {
    width: 180px;
    height: 180px;
    fill: hsl(0, 100%, 80%);
  }